{% extends 'generic/object.html' %}


{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Finding</h5>
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">id</th>
              <td>{{ object.id }}</td>
            </tr>
              <tr>
              <th scope="row">Device</th>
                <td>{{ object.device|linkify }}</td>
            </tr>
            <tr>
              <th scope="row">Source</th>
              <td>{{ object.source|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Confidence</th>
              <td>{{ object.confidence|placeholder }}
                  {% if object.confidence < 0 or object.confidence > 1%}
                      <span class="text-warning"> <i class="mdi mdi-alert"></i> Warning</span>
                  {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">Site</th>
              <td>{{ object.site|placeholder }}</td>
            </tr>
          </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}
    </div>
  <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Interface Fields</h5>
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Mac Address</th>
              <td>{{ object.mac_address|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">IP Address</th>
              <td>{{ object.ip_address }}</td>
            </tr>
            <tr>
              <th scope="row">IP Netmask</th>
              <td>{{ object.ip_netmask }}</td>
            </tr>
            <tr>
              <th scope="row">Is a Router</th>
              <td>{{ object.is_router }}</td>
            </tr>
          </table>
      </div>
    </div>
      <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Service Fields</h5>
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Network Protocol</th>
              <td>{{ object.network_protocol|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Transport Protocol</th>
              <td>{{ object.transport_protocol|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Application Protocol</th>
              <td>{{ object.application_protocol|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Port</th>
              <td>{{ object.port|placeholder }}</td>
            </tr>
          </table>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Device Fields</h5>
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description }}</td>
            </tr>
            <tr>
              <th scope="row">Device Role</th>
                <td>{{ object.device_role }}</td>
            </tr>
            <tr>
              <th scope="row">Device Type</th>
              <td>{{ object.device_type }}</td>
            </tr>
            <tr>
              <th scope="row">Serial Number</th>
              <td>{{ object.serial_number }}</td>
            </tr>
            <tr>
              <th scope="row">Is Safety Critical</th>
              <td>{{ object.is_safety_critical|placeholder }}</td>
            </tr>
          </table>
      </div>
    </div>

    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Device Type / Manufacturer</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Manufacturer</th>
              <td>{{ object.manufacturer }}</td>
            </tr>
            <tr>
              <th scope="row">Part Number</th>
              <td>{{ object.part_number }}</td>
            </tr>
            <tr>
              <th scope="row">Article Number</th>
              <td>{{ object.article_number }}</td>
            </tr>
            <tr>
              <th scope="row">Hardware Version</th>
              <td>{{ object.hardware_version }}</td>
            </tr>
            <tr>
              <th scope="row">hardware_cpe</th>
              <td>{{ object.cpe }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Software</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">name</th>
              <td>{{ object.software_name }}</td>
            </tr>
            <tr>
              <th scope="row">is_firmware</th>
              <td>{{ object.is_firmware }}</td>
            </tr>
            <tr>
              <th scope="row">version</th>
              <td>{{ object.version }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}
