{% extends 'generic/object_edit.html' %}
{% load static %}
{% load form_helpers %}
{% load helpers %}

{% block title %}Edit DeviceFinding ({{ object.pk }}) or Interface of a Device {% endblock %}

{% block tabs %}
  <ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="edit-form-tab" data-bs-toggle="tab" data-bs-target="#edit-form" type="button" role="tab" aria-controls="edit-form" aria-selected="true">
        Edit
      </button>
    </li>
  </ul>
{% endblock tabs %}

{% block content %}
  <div class="tab-content">
    <div class="tab-pane show active" id="edit-form" role="tabpanel" aria-labelledby="object-list-tab">

      <form action="" method="post" enctype="multipart/form-data" class="object-edit mt-5">
        {% csrf_token %}

        <div id="form_fields">
          {% block form %}
          <div class="field-group my-5">
              <div class="row mb-2">
                <h5 class="offset-sm-3">Edit DeviceFinding</h5>
              </div>
            {% render_field form.ip_address %}
            {% render_field form.ip_netmask %}
            {% render_field form.mac_address %}
          </div>
              <div class="field-group my-5">
                  <div class="row mb-2">
                    <h5 class="offset-sm-3">Edit Interface of a Device</h5>
                  </div>
              {% render_field form.device %}
              {% render_field form.interface_name %}
              </div>
        {% endblock form %}
        </div>
          <div class="row mb-2">
            <label class="col-sm-3 col-form-label text-lg-end"></label>
            <div class="col">
                <i class="text-warning mdi mdi-alert"></i> Perform a Device Lookup after editing Interface properties
            </div>
        </div>
        <div class="text-end my-3">
          {% block buttons %}
              <button type="submit" name="_update" class="btn btn-primary">
                Save
              </button>
            <a class="btn btn-outline-danger" href="{{ return_url }}">Cancel</a>
          {% endblock buttons %}
        </div>
      </form>
    </div>


{% endblock content %}
