{% extends 'generic/object_edit.html' %}
{% load static %}
{% load form_helpers %}
{% load helpers %}
{% load i18n %}

{% block form %}
    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">{% trans "Parent Product" %}</h5>
      </div>
      <div class="row mb-2">
        <div class="offset-sm-3">
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="nav-item">
              <button role="tab" type="button" id="source_device_tab" data-bs-toggle="tab" aria-controls="source_device" data-bs-target="#source_device" class="nav-link {% if not form.initial.source_software %}active{% endif %}">
                Device
              </button>
            </li>
            <li role="presentation" class="nav-item">
              <button role="tab" type="button" id="source_software_tab" data-bs-toggle="tab" aria-controls="source_software" data-bs-target="#source_software" class="nav-link {% if form.initial.source_software %}active{% endif %}">
                Software
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content p-0 border-0">
        <div class="tab-pane {% if not form.initial.source_software %}active{% endif %}" id="source_device" role="tabpanel" aria-labeled-by="source_device_tab">
          {% render_field form.source_device %}
        </div>
        <div class="tab-pane {% if form.initial.source_software %}active{% endif %}" id="source_software" role="tabpanel" aria-labeled-by="source_software_tab">
          {% render_field form.source_software %}
        </div>
      </div>
    </div>

   <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Relationship</h5>
      </div>
      {% render_field form.category %}
    </div>

    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">{% trans "Target Product" %}</h5>
      </div>
      <div class="row mb-2">
        <div class="offset-sm-3">
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="nav-item">
              <button role="tab" type="button" id="destination_device_tab" data-bs-toggle="tab" aria-controls="destination_device" data-bs-target="#destination_device" class="nav-link {% if not form.initial.destination_software %}active{% endif %}">
                Device
              </button>
            </li>
            <li role="presentation" class="nav-item">
              <button role="tab" type="button" id="destination_software_tab" data-bs-toggle="tab" aria-controls="destination_software" data-bs-target="#destination_software" class="nav-link {% if form.initial.destination_software %}active{% endif %}">
                Software
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content p-0 border-0">
        <div class="tab-pane {% if not form.initial.destination_software %}active{% endif %}" id="destination_device" role="tabpanel" aria-labeled-by="destination_device_tab">
          {% render_field form.destination_device %}
        </div>
        <div class="tab-pane {% if form.initial.destination_software %}active{% endif %}" id="destination_software" role="tabpanel" aria-labeled-by="destination_software_tab">
          {% render_field form.destination_software %}
        </div>
      </div>
    </div>

    <script>
      // the form shows the parent and target types (Device and Software) as two tabs
      // Switching tabs does not clear the hidden field
      //
      // error. Clear the sibling field whenever a tab becomes active.
      (function () {
        var pairs = [
          ['id_source_device', 'id_source_software'],
          ['id_source_software', 'id_source_device'],
          ['id_destination_device', 'id_destination_software'],
          ['id_destination_software', 'id_destination_device'],
        ];

        pairs.forEach(function (pair) {
          var shownFieldId = pair[0];
          var hiddenFieldId = pair[1];
          var tab = document.getElementById(shownFieldId + '_tab');
          if (!tab) {
            return;
          }
          tab.addEventListener('shown.bs.tab', function () {
            var hiddenField = document.getElementById(hiddenFieldId);
            if (hiddenField && hiddenField.value) {
              // clear the input field in the hidden tab
              hiddenField.value = '';
              // changing the value directly does not trigger a change event automatically
              hiddenField.dispatchEvent(new Event('change', { bubbles: true }));
            }
          });
        });
      })();
    </script>

{% endblock %}
