{% extends 'generic/object_edit.html' %}
{% load static %}
{% load form_helpers %}
{% load helpers %}
{% load i18n %}

{% block form %}
    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">{% trans "Parent Product" %}</h5>
      </div>
      {% render_field form.source_type %}
      {% render_field form.source_object %}
    </div>

    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Relationship</h5>
      </div>
      {% render_field form.category %}
    </div>

    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">{% trans "Target Product" %}</h5>
      </div>
      {% render_field form.destination_type %}
      {% render_field form.destination_object %}
    </div>
{% endblock %}
