{% extends 'generic/object.html' %}
{% load buttons %}
{% load perms %}

{% block controls %}
  <div class="controls">
    <div class="control-group">
      {% if request.user|can_change:object %}
        {% edit_button object %}
      {% endif %}
      {% if request.user|can_delete:object %}
        {% delete_button object %}
      {% endif %}
    </div>
  </div>
{% endblock controls %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Relationship</h5>
          <table class="table table-hover attr-table">
              <tr>
                  <th scope="row">Parent</th>
                  <td>{{ object.source|linkify }}</td>
              </tr>
              <tr>
                  <th scope="row">Type of relationship</th>
                  <td>{{ object.get_category_display }}</td>
              </tr>
              <tr>
                  <th scope="row">Target</th>
                  <td>{{ object.destination|linkify }}</td>
              </tr>
          </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
  </div>

{% endblock content %}